{% extends "base.html" %}

{% block conteudo %}
<!--Conteudo-->
<ul class="nav nav-tabs nav-justified">
    <li><a href="{% url 'boletim_detalhe' %}">Semestre 1º</a></li>
</ul>
<ul class="nav nav-tabs nav-justified">
    <li><a href="{% url 'boletim_detalhe' %}">Semestre 2º</a></li>
</ul>
<ul class="nav nav-tabs nav-justified">
    <li><a href="{% url 'boletim_detalhe' %}">Semestre 3º</a></li>
</ul>
<ul class="nav nav-tabs nav-justified">
    <li><a href="{% url 'boletim_detalhe' %}">Semestre 4º</a></li>
</ul>

{% endblock %}