<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cadastro Alunos</title>
    <link rel="stylesheet" type="text/css" href="../static/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/base.css">
    <style rel="stylesheet" type="text/css"></style>
    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
</head>
<body>
<header>
    <div class="page-header fundo-claro">
        <img src="../static/img/logomarca-impacta.png" alt="logo" class="pull-left logo">
        <div class="container">
            <img src="../static/img/logo-faculdade-branco.png" alt="Faculdade Impacta" class="center-block">
        </div>
    </div>
</header><br/>

<!--Menu  #####################################################################################################################################################-->

<div class="jumbotron jumbotron-fluid">
    <div class="container">

        <!-- h1 e p que já tínhamos, somente adicionar as respectivas classes -->
        <h1 class="display-4">Cadastro Aluno</h1>
        <p class="lead">Os campos com * são obrigatórios!</p>

    <div class="card">
    <div class="card-body">

        <form>
            <div class="form-row">
                <div class="form-group col-md-6">
                <label for="nome">*Nome:</label>
                <input type="text" class="form-control" id="nome" placeholder="Nome">
                </div>
            
                <div class="form-group col-md-6">
                <label for="sobrenome">*Sobrenome:</label>
                <input type="test" class="form-control" id="sobrenome" placeholder="Sobrenome">
                </div>
            </div>

            <div class="form-group col-md-2">
                <label for="cpf">*CPF:</label>
                <input type="text" class="form-control" id="cpf" placeholder="SOMENTE NÚMEROS">
            </div>
            
            <div class="form-group col-md-2">
                <label for="rg">*RG:</label>
                <input type="text" class="form-control" id="rg" placeholder="SOMENTE NÚMEROS">
            </div>

            <div class="form-group col-md-2">
                <label for="telefone1">*Telefone 1:</label>
                <input type="text" class="form-control" id="telefone1" placeholder="DD+111111111">
            </div>

            <div class="form-group col-md-2">
                <label for="telefone2">Telefone 2:</label>
                <input type="text" class="form-control" id="telefone2" placeholder="DD+111111111">
            </div>

            <div class="form-group col-md-4">
                <label for="email">*E-mail:</label>
                <input type="text" class="form-control" id="email" placeholder="nome@email.com.br">
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                <label for="cidade">*Cidade:</label>
                <input type="text" class="form-control" id="cidade" placeholder="Cidade">
                </div>

                <div class="form-group col-md-2">
                <label for="estado">*Estado:</label>
                <select id="estado" class="form-control">
                    <option selected>UF</option>
                    <option>SP</option>
                    <option>RJ</option>
                    <option>PR</option>
                    <option>SC</option>
                </div>    
                </select>
            </div>
            
            <div class="form-group col-md-2">
                <label for="cep">*CEP:</label>
                <input type="text" class="form-control" id="cep" placeholder="EX: 07115000">
            </div>
            
            <div class="form-group col-md-6">
                <label for="bairro">*Bairro:</label>
                <input type="text" class="form-control" id="cep" placeholder="Bairro">
            </div>
            
            <div class="form-group col-md-6">
                <label for="complemento">Comlemento:</label>
                <input type="text" class="form-control" id="complemento" placeholder="Complemento">
            </div>

            <div class="form-group col-md-6">
                <label for="cursos">*Curso</label>
                <select class="form-control" id="cursos">
                    <option selected>Curso</option>
                    <option>1 - Análise De Sistemas</option>
                    <option>2 - Banco De Dados</option>
                    <option>3 - Sistemas De Informação</option>
                    <option>4 - Adiministração De Emoresas</option>
                    <option>5 - Processos Gerenciais</option>
                </select>
            </div>

            <div class="form-group col-md-6">
                <label for="semestre">*Semestre:</label>
                <select id="semestre" class="form-control">
                    <option selected>Semestre</option>
                    <option>1º</option>
                    <option>2º</option>
                    <option>3º</option>
                    <option>4º</option>
                    <option>5º</option>
                    <option>6º</option>
                    <option>7º</option>
                    <option>8º</option>
                </select>
            </div>
        </form>
    </div>
    </div>
    </div>
    </div>

    

    <div class="container">
    <a class="btn btn-danger btn-lg" href="#" role="button">Cancelar</a>
    <a class="btn btn-success btn-lg" href="#" role="button">Salvar</a>
    </div>

    
    </div>
</div>















</body>
</html>