{% extends "base.html" %}

{% block conteudo %}
<!--Menu  #####################################################################################################################################################-->

<div class="jumbotron jumbotron-fluid">
    <div class="container">

        <!-- h1 e p que já tínhamos, somente adicionar as respectivas classes -->
        <h1 class="display-4">Cadastro Professor</h1>
        <p class="lead">Os campos com * são obrigatórios!</p>

    <div class="card">
    <div class="card-body">

        <form>
            <div class="form-row">
                <div class="form-group col-md-6">
                <label for="nome">*Nome:</label>
                <input type="text" class="form-control" id="nome" placeholder="Nome">
                </div>
            
                <div class="form-group col-md-6">
                <label for="sobrenome">*Sobrenome:</label>
                <input type="test" class="form-control" id="sobrenome" placeholder="Sobrenome">
                </div>
            </div>

            <div class="form-group col-md-2">
                <label for="cpf">*CPF:</label>
                <input type="text" class="form-control" id="cpf" placeholder="SOMENTE NÚMEROS">
            </div>
            
            <div class="form-group col-md-2">
                <label for="rg">*RG:</label>
                <input type="text" class="form-control" id="rg" placeholder="SOMENTE NÚMEROS">
            </div>

            <div class="form-group col-md-2">
                <label for="telefone1">*Telefone 1:</label>
                <input type="text" class="form-control" id="telefone1" placeholder="DD+111111111">
            </div>

            <div class="form-group col-md-2">
                <label for="telefone2">Telefone 2:</label>
                <input type="text" class="form-control" id="telefone2" placeholder="DD+111111111">
            </div>

            <div class="form-group col-md-4">
                <label for="email">*E-mail:</label>
                <input type="text" class="form-control" id="email" placeholder="nome@email.com.br">
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                <label for="cidade">*Cidade:</label>
                <input type="text" class="form-control" id="cidade" placeholder="Cidade">
                </div>

                <div class="form-group col-md-2">
                <label for="estado">*Estado:</label>
                <select id="estado" class="form-control">
                    <option selected>UF</option>
                    <option>SP</option>
                    <option>RJ</option>
                    <option>PR</option>
                    <option>SC</option>
                </div>    
                </select>
            </div>
            
            <div class="form-group col-md-2">
                <label for="cep">*CEP:</label>
                <input type="text" class="form-control" id="cep" placeholder="EX: 07115000">
            </div>
            
            <div class="form-group col-md-6">
                <label for="bairro">*Bairro:</label>
                <input type="text" class="form-control" id="cep" placeholder="Bairro">
            </div>
            
            <div class="form-group col-md-6">
                <label for="complemento">Comlemento:</label>
                <input type="text" class="form-control" id="complemento" placeholder="Complemento">
            </div>

            <div class="form-group col-md-6">
                <label for="formacoes">*Formações</label>
                <div class="checkbox">
                    <label><input type="checkbox" value="">Análise De Sistemas</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="">Sistemas Informações</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="">Engenharia Da Computação</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="">Administração De Empresas</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="">......</label>
                </div>
            </div>

            <div class="form-group col-md-6">
                <label for="disciplinalecionaveis">*Disciplinas apto a lecionar</label>
                <div class="checkbox" id="disciplinalecionaveis">
                    <label><input type="checkbox" value="">Análise De Sistemas</label>
                </div>
                <div class="checkbox" id="disciplinalecionaveis">
                    <label><input type="checkbox" value="">Sistemas Informações</label>
                </div>
                <div class="checkbox" id="disciplinalecionaveis">
                    <label><input type="checkbox" value="">Engenharia Da Computação</label>
                </div>
                <div class="checkbox" id="disciplinalecionaveis">
                    <label><input type="checkbox" value="">Administração De Empresas</label>
                </div>
                <div class="checkbox" id="disciplinalecionaveis">
                    <label><input type="checkbox" value="">......</label>
                </div>
            </div>

            <div class="form-group col-md-12">
                <label for="resumoprofissional">Coloque uma breve descrição profisional</label>
                <textarea class="form-control" id="resumoprofissional" rows="3" placeholder="Descrição Profisional"></textarea>
            </div>

                        
        </form>
    </div>
</div>
</div>
</div>

        
<div class="container">
<a class="btn btn-danger btn-lg" href="#" role="button">Cancelar</a>
<a class="btn btn-success btn-lg" href="#" role="button">Salvar</a>
</div>

{% endblock %}