<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Page Title</title>
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/base.css">
    <link rel="stylesheet" type="text/css" href="css/cainan.css">
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
</head>
<body>
<header>
    <div class="page-header fundo-claro">
        <img src="img/logomarca-impacta.png" alt="logo" class="pull-left logo">
        <div class="container">
            <img src="img/logo-faculdade-branco.png" alt="Faculdade Impacta" class="center-block">
        </div>
    </div>
</header>
<div class="container">
    <!--Menu-->
    <div class="col-sm-2">
        <h3 class="titulo-menu">
            Menu
            <div class="divider"></div>
        </h3>
        <div class="menu-vertical">
            <div class="btn" >
                Dropdown
                <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
            </div>
            <div class="menu-vertical-conteudo">
                <ul class="" aria-labelledby="menuverticalDivider">
                    <li>
                        <a href="#">
                            <span class="glyphicon glyphicon-minus"></span>
                            Action
                        </a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                        <a href="#">                                
                            <span class="glyphicon glyphicon-minus"></span>
                            Another action
                        </a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                        <a href="#">
                            <span class="glyphicon glyphicon-minus"></span>
                            Something else here
                        </a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                        <a href="#">
                            <span class="glyphicon glyphicon-minus"></span>
                            Separated link
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="divider"></div>
        <div class="menu-vertical">
            <div class="btn" >
                Dropdown
                <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
            </div>
            <div class="menu-vertical-conteudo">
                <ul class="" aria-labelledby="menuverticalDivider">
                    <li>
                        <a href="#">
                            <span class="glyphicon glyphicon-minus"></span>
                            Action
                        </a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                        <a href="#">                                
                            <span class="glyphicon glyphicon-minus"></span>
                            Another action
                        </a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                        <a href="#">
                            <span class="glyphicon glyphicon-minus"></span>
                            Something else here
                        </a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                        <a href="#">
                            <span class="glyphicon glyphicon-minus"></span>
                            Separated link
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="divider"></div>
        <div class="menu-vertical">
            <div class="btn" >
                Dropdown
            </div>
        </div>
    </div>  
    <!--Painel de Mensagens-->
    <div class = "col-xs-10">
        <nav class ="categorias col-xs-4">
            <ul>
                <li><a href = "painel_aluno.html">Painel</a></li>
                <li><a href = "mensagem_nova.html">Enviar Mensagem</a></li>
                <li><a href = "mensagens_enviadas.html">Enviadas</a></li>
                <li><a href = "mensagens_recebidas.html">Recebidas</a></li>
                <li><a href = "mensagens_rascunhos.html">Rascunhos</a></li>
            </ul>
        </nav>
        <div class="col-xs-8">
            <form>
                <div class="form-group">
                    <label for="tEmailDestino">Para:</label>
                    <input type="email" class="form-control" id="EmailDestino" placeholder="Destino">
                </div>
                <div class="form-group">
                    <label for="Assunto">Assunto</label>
                    <input type=text class="form-control" id="Assunto" placeholder="Assunto">
                </div>
                
                <div class="form-group">
                    <label for="exampleInputEmail1">Mensagem:</label>
                    <textarea class="form-control" rows="10" placeholder="Mensagem"></textarea>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                    <button type="submit" class="btn btn-success">Salvar Alterações</button>                
                </div>
            </form>
        </div>      
    </div>