{% extends "base.html" %}

{% block conteudo %}
<nav class ="categorias col-xs-4">
    <ul>
        <li><a href="{% url 'painel_mensagem' perfil_logado %}">Painel</a></li>
        <li><a href="{% url 'mensagem_nova' perfil_logado %}">Enviar Mensagem</a></li>
        <li><a href="{% url 'mensagens_enviadas' perfil_logado %}">Enviadas</a></li>
        <li><a href="{% url 'mensagens_recebidas' perfil_logado %}">Recebidas</a></li>
        <li><a href="{% url 'mensagens_rascunhos' perfil_logado %}">Rascunhos</a></li>
    </ul>
</nav>
<div class="col-xs-8">
    <h2>Mensagens Gen</h2>

    <h3>Assunto</h3>
    
    <p>essa foi a mensagem que eu enviei essa foi a mensagem que eu enviei
            essa foi a mensagem que eu enviei essa foi a mensagem que eu enviei
            essa foi a mensagem que eu enviei essa foi a mensagem que eu enviei
            essa foi a mensagem que eu enviei essa foi a mensagem que eu enviei
            essa foi a mensagem que eu enviei essa foi a mensagem que eu enviei
            essa foi a mensagem que eu enviei essa foi a mensagem que eu enviei
    </p>
</div>
{% endblock %}    
