{%extends "base.html"%}
{%conteudo block%}
<!--Painel de Mensagens-->
    <div class = "container">
        <nav class ="categorias">
            <ul>
                <li><a href = "painel_aluno.html">Painel</a></li>
                <li><a href = "envio_sms.html">Enviar Mensagem</a></li>
                <li><a href = "sms_enviadas.html">Enviadas</a></li>
                <li><a href = "recebidas.html">Recebidas</a></li>
                <li><a href = "rascunhos.html">Rascunhos</a></li>
            </ul>
        </nav>
    <div>
        <h2>PAINEL DE MENSAGENS</h2>
{%endblock%}
