.menu-vertical{
    position: relative;
    display: block;
}

.menu-vertical-conteudo{
    display: none;
    position: absolute;
    left: 100px;
    top: -5px;
    background-color: aliceblue;
    width: 200px;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.562);
    padding: 0px 12px;
    z-index: 1;
}

.menu-vertical:hover .menu-vertical-conteudo {
    display: block;    
}

ul, ol{
    list-style: none;
    padding: 10px;
}

li {
    margin-bottom: 2px;
}

.menu-vertical .btn:hover {
    color: blue;
}

.divider{
    background-color: #c9c9c9;
    height: 1px;
    margin: 5px 2px;
    overflow: hidden;
}

.titulo-menu .divider{
    background-color: #8a8a8a;
    height: 2px;
}

a{
    color: black;
}

a:hover{
    color: rgba(0, 0, 0, 0.562);
    text-decoration: none;
}
.titulo-menu{
    margin-left: 10px;
    margin-bottom: 20px;
}

/*Extras*/
header {
    background-color: white;
    background-image: url('../img/estudos.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    padding-top: 10px;
}

.logo{
    width: 60px;
    margin-left: 10px;
    margin-top: 10px
}
